table {
    border: 1px solid silver;
    }
td:hover {
    background-color: yellow;
    color: black;
}
ol {
    list-style: upper-roman;
}
ul  {
    list-style: square;
}
.par {
    text-shadow:2px 2px chartreuse;
}